<div class="bg-white py-8 px-4 shadow">

    <form id="createForm" class="space-y-5">
        <div>
            <label class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="title">Title</label>
            <input class="w-full px-3 py-2 border border-gray-500 rounded-md placeholder-gray-400" type="text"
                id="title" name="title" placeholder="Titulo">
        </div>
        <div>
            <label class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="description">Descripcion</label>
            <input class="w-full px-3 py-2 border border-gray-500 rounded-md placeholder-gray-400" type="text"
                id="description" name="description" placeholder="Descripcion">
        </div>
        <div>
            <label class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="price">Precio</label>
            <input class="w-full px-3 py-2 border border-gray-500 rounded-md placeholder-gray-400" type="text"
                id="price" name="price" placeholder="Precio">
        </div>
        <div>
            <label class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="code">Codigo</label>
            <input class="w-full px-3 py-2 border border-gray-500 rounded-md placeholder-gray-400" type="text" id="code"
                name="code" placeholder="Codigo">
        </div>
        <div>
            <label class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="stock">Stock</label>
            <input class="w-full px-3 py-2 border border-gray-500 rounded-md placeholder-gray-400" type="text"
                id="stock" name="stock" placeholder="Stock">
        </div>
        <div>
            <label class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="thumbnail">Thumbnail</label>
            <input class="w-full px-3 py-2 border border-gray-500 rounded-md placeholder-gray-400" type="file"
                id="thumbnail" name="thumbnail">
        </div>
    </form>
    <div class="py-10 ">
        <button class="hover:bg-teal-700 w-full bg-teal-600 text-white font-bold py-3 cursor-pointer"
            id="createBtn">Argegar Producto</button>
    </div>
</div>